/SmartMirror/SmartMIrror/nbproject/private/
/SmartMirror/SmartMIrror/build/
/SmartMirror/SmartMIrror/dist/
/SmartMirror/ConfWebPage/nbproject/private/
/SmartMirror/ConfWebPage/build/
/SmartMirror/ConfWebPage/dist/