/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 19, 2015, 10:37:20 AM
    Author     : abhitha
*/

.right {
    font-family: fantasy;
    text-align: right;
    font-size: 30px;
    color: red;
}
.rightTime {
    font-family: fantasy;
    float: right;
    font-size: 30px;
    color: red;
}
.rightEmail {
    font-family: fantasy;
    text-align: right;
    font-size: 20px;
    color: greenyellow;
}